<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ca8dfa">  <td>17/11/09 15:03:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test3.Search()[pri:0, instance:pkg.test3@1e461e41]">Search</td> 
  <td>main@46453164</td>   <td></td> </tr>
<tr bgcolor="ca8dfa">  <td>17/11/09 15:02:38</td>   <td>-58490</td> <td>&nbsp;</td><td title="&gt;&gt;test3.launchapp()[pri:0, instance:pkg.test3@1e461e41]">&gt;&gt;launchapp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@46453164</td>   <td></td> </tr>
<tr bgcolor="ca8dfa">  <td>17/11/09 15:03:58</td>   <td>22041</td> <td>&nbsp;</td><td title="&lt;&lt;test3.terminatetest()[pri:0, instance:pkg.test3@1e461e41]">&lt;&lt;terminatetest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@46453164</td>   <td></td> </tr>
</table>
